*{
    border: 0;
    margin: 0;
}

body h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    text-align: center;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
}

#items-container{
    width: 400px;
    background-color: aqua;
}

#nav-menu-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 55px;
    background-color: bisque;
}

.menu-item{
    list-style-type: none;
    height: 55px;
    background-color: blueviolet;
}

#banner{
    width:100%;
    height: 350px;
    background-color: brown;
}

#about-us{
    width:100%;
    height: 350px;
    background-color: khaki
}

#items{
    width:100%;
    height: 350px;
    background-color:aquamarine
}

#contact{
    width:100%;
    height: 350px;
    background-color: goldenrod
}

#footer{
    width:100%;
    height: 350px;
    background-color: gray
}